.not-found{
    width:40em;
    height:40em;
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    justify-content: center;
    align-items:center;
    background:rgba(66,80,135,.1);
}